<main ng-controller="sale_ctrl">
    <form action="">
        <div class="mb-3">
            <label for="" class="form-label">loại giảm giá</label>
            <select class="form-select form-select-lg" onchange="loaigg()" ng-model="saleadd.typeSale" id="loaigg1">
                <option selected value="0">Toàn Bộ Cửa Hàng</option>
                <option value="1">Theo Sản Phẩm</option>
                <option value="2">Theo Đơn Hàng</option>
                <option value="3">Theo Khách Hàng</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Tên chương trình</label>
            <input type="text" ng-model="saleadd.name" id="" class="form-control" placeholder="" aria-describedby="helpId">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Phương thức giảm giá</label>
            <select class="form-select form-select-lg" onchange="ptgg()"  id="ptgg1">
                <option value="0" selected >theo voucher</option>
                <option value="1">trực tiếp</option>
            </select>
        </div>
        <div class="mb-3" id="magg">
            <label for="" class="form-label">Mã giảm giá</label>
            <input type="text" ng-model="saleadd.voucher" id="" class="form-control" placeholder="" aria-describedby="helpId">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Kiểu giảm giá</label>
            <select class="form-select form-select-lg" onchange="kieugg()" name="" id="kieugg1">
                <option value="0" selected >theo tiền mặt</option>
                <option value="1">theo %</option>
            </select>
        </div>
        <div class="mb-3" id="">
            <div class="row g-2">
                <div class="col-md">
                    <label for="" class="form-label">mức giảm giá</label>
                    <div class="input-group" id="mggtien">
                        <input type="input" class="form-control" ng-model="saleadd.moneySale">
                        <span class="input-group-text">VNĐ</span>
                    </div>
                    <div class="input-group" id="mggpt">
                        <input type="input" class="form-control" ng-model="saleadd.percentSale">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
                <div class="col-md">
                    <label for="" class="form-label">Số lượng</label>
                    <input type="text" ng-model="saleadd.quantity" id="" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
            </div>
        </div>
        <div class="mb-3" id="gttt">
            <label for="" class="form-label">Giá trị đơn hàng tối thiểu</label>
            <input type="text" ng-model="saleadd.valueMin" id="" class="form-control" placeholder="" aria-describedby="helpId">
        </div>

        <div class="mb-3" id="">
            <div class="row g-2">
                <div class="col-md">
                        <label for="" class="form-label">Thời gian bắt đầu</label>
                        <input type="datetime-local" class="form-control" id="" ng-model="saleadd.createStart">
                </div>
                <div class="col-md">
                        <label for="" class="form-label">Thời gian kết thúc</label>
                        <input type="datetime-local" class="form-control" id="" ng-model="saleadd.createEnd">
                </div>
            </div>
        </div>

        <div class="mb-3" id="">
            <label for="floatingTextarea2">Mô tả chi tiết</label>
            <textarea class="form-control" placeholder="Leave a comment here" ng-model="saleadd.detailSale" id="floatingTextarea2" style="height: 100px"></textarea>
      </div>

        <!-- table sản phẩm -->
        <div id="tableProduct">
            <form class="">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Chọn</th>
                    <th scope="col">Mã Sản Phẩm</th>
                    <th scope="col">Tên Sản Phẩm</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>1</td>
                    <td>Iphone 6s plus</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- end table sản phẩm -->

        <!-- table sản phẩm -->
        <div id="tableUser">
            <table class="table">
                <form class="">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <thead>
                <tr>
                    <th scope="col">Chọn</th>
                    <th scope="col">Mã Người Dùng</th>
                    <th scope="col">Tên Người Dùng</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>1</td>
                    <td>Nguyễn Duy Cương</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- end table sản phẩm -->

        <button type="submit" ng-click="createSale()">Tạo</button>
    </form>
</main>

