<ul class="nav nav-tabs"  role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" ng-click="showDataTableSale(0)" data-bs-toggle="tab" type="button" role="tab" aria-controls="home" aria-selected="true">Tất cả</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" ng-click="showDataTableSale(1)"  data-bs-toggle="tab" type="button" role="tab" aria-controls="profile" aria-selected="false">Đang diễn ra</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" ng-click="showDataTableSale(2)"  data-bs-toggle="tab" type="button" role="tab" aria-controls="contact" aria-selected="false">Sắp diễn ra</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" ng-click="showDataTableSale(3)"  data-bs-toggle="tab" type="button" role="tab" aria-controls="contact" aria-selected="false">Đã kết thúc</button>
  </li>
</ul>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Tên Voucher | Mã voucher</th>
      <th scope="col">Loại mã</th>
      <th scope="col">Giảm giá</th>
      <th scope="col">Số lượng sử dụng còn lại</th>
      <th scope="col">Trạng thái | Thời gian lưu Mã giảm giá</th>
      <th scope="col">Thao tác</th>
    </tr>
  </thead>
  <tbody ng-repeat="sales in dataTableSale">
    <tr>
      <th>
        <p>{{sales.name}}</p>
        <p ng-if="sales.voucher">Mã giảm giá: <span class=" bg-light text-dark">{{sales.voucher}}</span></p>
        <p ng-if="!sales.voucher">giảm giá trực tiếp</p>
      </th>
      <td>
        <p ng-if="sales.typeSale == 0">Toàn bộ cửa hàng</p>
        <p ng-if="sales.typeSale == 1">Theo sản phẩm</p>
        <p ng-if="sales.typeSale == 2">Theo đơn hàng</p>
        <p ng-if="sales.typeSale == 3">Theo Khách hàng</p>
        <p ng-if="sales.typeSale == 4">Theo phụ kiện</p>
      </td>
      <td>
        <p ng-if="sales.moneySale">{{sales.moneySale}} vnd</p>
        <p ng-if="!sales.moneySale">{{sales.percentSale}} %</p>
      </td>
      <td>
        <p>{{sales.quantity}}</p>
      </td>
      <td>
        <p ng-if="compareDate(sales.createStart,sales.createEnd,sales.quantity) == 0"><span class="badge bg-warning text-dark">Sắp diễn ra</span></p>
        <p ng-if="compareDate(sales.createStart,sales.createEnd,sales.quantity) == 1"><span class="badge bg-success">Đang diễn ra</span></p>
        <p ng-if="compareDate(sales.createStart,sales.createEnd,sales.quantity) == 2"><span class="badge bg-secondary">Đã hết thời gian</span></p>
        <p ng-if="compareDate(sales.createStart,sales.createEnd,sales.quantity) == 3"><span class="badge bg-danger">Đã hết số lượt sử dụng</span></p>
        <p><span>{{ sales.createStart | date:'MM/dd/yyyy h:mma'}}</span> - <span>{{ sales.createEnd | date:'MM/dd/yyyy h:mma'}}</span></p>
      </td>
      <td>
        <p class="btn btn-info">Chi tiết</p>
      </td>
    </tr>
  </tbody>
</table>