<div class="container mt-3 mb-3" ng-init="getDetailProduct(0)">
    <div class="single-product-area bg-white">
        <div class="container">
            <div class="row">
                <div>
                    <div>
                        <div>
                            <div class="row g-0">
                                <div class="col-md-6 border-end">
                                    <div class="d-flex flex-column justify-content-center">
                                        <div class="main_image"  ng-if="detailProduct.images[0]==undefined ? true : false"><img src="{{detailProduct.imageDefault}}"
                                                                                                                                id="main_product_image"   width="350"></div>
                                        <div class="main_image"   ng-if="detailProduct.images[0]!=undefined ? true : false"><img src="{{detailProduct.images[0]}}"
                                                                                                                                 id="main_product_image"  width="350"></div>
                                        <div class="thumbnail_images">
                                            <ul id="thumbnail">
                                                <li ng-if="detailProduct.images[1]==undefined ? true : false"><img ng-click="changeImage(1)" id="image_product_change"
                                                         src="{{displayProduct.imageDefault1}}" width="70"></li>
                                                <li ng-if="detailProduct.images[1]!=undefined ? true : false"><img ng-click="changeImage(1)" id="image_product_change"
                                                         src="{{detailProduct.images[0]}}" width="70"></li>
                                                <li ng-if="detailProduct.images[2]==undefined ? true : false"><img ng-click="changeImage(2)" id="image_product_change1"
                                                         src="{{displayProduct.imageDefault2}}" width="70"></li>
                                                <li ng-if="detailProduct.images[2]!=undefined ? true : false"><img ng-click="changeImage(2)" id="image_product_change1"
                                                         src="{{detailProduct.images[1]}}" width="70"></li>
                                                <li ng-if="detailProduct.images[3]==undefined ? true : false"><img ng-click="changeImage(3)" id="image_product_change2"
                                                         src="{{displayProduct.imageDefault3}}" width="70"></li>
                                                <li ng-if="detailProduct.images[3]!=undefined ? true : false"><img ng-click="changeImage(3)" id="image_product_change2"
                                                         src="{{detailProduct.images[2]}}" width="70"></li>
                                                <li ng-if="detailProduct.images[4]==undefined ? true : false"><img ng-click="changeImage(4)" id="image_product_change3"
                                                         src="{{displayProduct.imageDefault}}" width="70"></li>
                                                <li ng-if="detailProduct.images[4]!=undefined ? true : false"><img ng-click="changeImage(4)"id="image_product_change3"
                                                         src="{{detailProduct.images[3]}}" width="70"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="p-3 right-side">
                                        <div class="d-flex justify-content-between align-items-center"><h3>
                                            {{detailProduct.name}}</h3>
                                        </div>
                                        <h3 ng-if="PrD.price == undefined && detailProduct.priceMin != detailProduct.priceMax">{{detailProduct.priceMin | number}} VNĐ - {{detailProduct.priceMax | number}} VNĐ</h3>
                                        <h3 ng-if="PrD.price == undefined && detailProduct.priceMin == detailProduct.priceMax">{{detailProduct.priceMin | number}} VNĐ </h3>
                                        <h3 ng-if="PrD.price != undefined && PrD.priceSale == 0 ">{{PrD.price | number}} VNĐ</h3>
                                        <h3 ng-if="PrD.price != undefined && PrD.priceSale != 0"> <del>{{PrD.price | number}} VNĐ</del> {{PrD.priceSale | number}}  VNĐ</h3>
                                        Dung lượng
                                        <div>
                                            <label class="radio me-1" ng-repeat="capa in detailProduct.capa">
                                                <input type="radio" id="capa" ng-checked="checkCapa!=0 ? true : false"
                                                       ng-click="checkProduct(capa.idCapacity , 0)"
                                                       name="capa">
                                                <span>{{capa.name}}</span>
                                            </label>
                                        </div>
                                        Ram
                                        <div>
                                            <label class="radio me-1" ng-repeat="ram in detailProduct.ram">
                                                <input type="radio" id="ram" ng-checked="checkRam!=0 ? true : false"
                                                       ng-click="checkProduct(ram.idRam , 1)"
                                                       name="ram" >
                                                <span>{{ram.name}}</span>
                                            </label>
                                        </div>
                                        Màu sắc
                                        <div>
                                            <label class="radio me-1" ng-repeat="color in detailProduct.color">
                                                <input type="radio" id="color"  ng-checked="checkColer != 0 ? true : false"
                                                       ng-click="checkProduct(color.idColor, 2)"
                                                       name="color">
                                                <span>{{color.name}}</span>
                                            </label>
                                        </div>
                                        <div class="d-flex flex-row mt-5 gap-3">
                                            <button class="btn btn-outline-dark" ng-click="addCart(PrD)" ng-disabled="PrD.idProduct==undefined ? true : false"
                                                    style="height: 70px; width: 100%">Thêm vào giỏ hàng
                                            </button>
                                        </div>
                                        <p ng-if="checkQuantity == true "
                                           style="height: 70px; width: 100%; color: red; text-align: center ">Sản phẩm đã hết hàng
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="product-content-right">
                        <h2><a href="">Top 4</a></h2>
                    </div>
                    <div class="row">
                        <div class="wrapper">
                            <div class="container">
                                <div class="row g-1">
                                    <div class="col-md-3" ng-repeat="pros in productView">
                                        <div class="card p-3">
                                            <div class="text-center" style="width: 200px; height: 200px">
                                                <img src="{{pros.image}}">
                                            </div>
                                            <div class="product-details">
                                                <span class="font-weight-bold d-block">{{pros.price | number}}VND</span>
                                                <p ng-if="pric0eSale[$index]!=-1 && priceSale[$index]!=0">
                                                    <del>{{product.price | number}} VNĐ</del> &nbsp; {{priceSale[$index] | number}} VNĐ
                                                </p>
                                                <p ng-if="priceSale[$index]!=-1 && priceSale[$index]==0">
                                                    <del>{{product.price | number}} VNĐ</del> &nbsp; Free
                                                </p>
                                                <span>{{pros.name}}</span>

                                                <div class="buttons d-flex flex-row">
                                                    <a class="btn btn-success cart-button btn-block col-12" href="#!product"
                                                            ng-click="getDetailProduct(pros.category.idCategory)">Chi tiết sản phẩm
                                                    </a>
                                                </div>

                                                <div class="weight">
                                                    <small style="color: lightslategray">Còn
                                                        {{pros.totail | number}} sản phẩm</small>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    body {

        background: #eee;
    }


    .wrapper {

        margin-top: 30px;
    }

    .card {

        border: 1px solid #eee;
        cursor: pointer;
    }


    .weight {

        margin-top: -65px;
        transition: all 0.5s;
    }

    .weight small {

        color: #e2dede;
    }

    .buttons {
        padding: 10px;
        background-color: #d6d4d44f;
        border-radius: 4px;
        position: relative;
        margin-top: 7px;
        opacity: 0;
        transition: all 0.8s;
    }

    .dot {
        height: 14px;
        width: 14px;
        background-color: green;
        border-radius: 50%;
        position: absolute;
        left: 27%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
        color: #fff;
        opacity: 0;
    }

    .cart-button {
        height: 48px
    }

    .cart-button:focus {
        box-shadow: none
    }

    .cart {
        position: relative;
        height: 48px !important;
        width: 50px;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 11px;
        border-radius: 5px;
        font-size: 14px;
        transition: 1s ease-in-out;
        overflow: hidden;

    }

    .cart-button.clicked span.dot {
        animation: item 0.3s ease-in forwards
    }

    @keyframes item {
        0% {
            opacity: 1;
            top: 30%;
            left: 30%
        }

        25% {
            opacity: 1;
            left: 26%;
            top: 0%
        }

        50% {
            opacity: 1;
            left: 23%;
            top: -22%
        }

        75% {
            opacity: 1;
            left: 19%;
            top: -18%
        }

        100% {
            opacity: 1;
            left: 14%;
            top: 28%
        }
    }


    .card:hover .buttons {

        opacity: 1;
    }


    .card:hover .weight {

        margin-top: 10px;
    }

    .card:hover {

        transform: scale(1.04);
        z-index: 2;
        overflow: hidden;
    }

    label.radio {
        cursor: pointer
    }

    label.radio input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none
    }

    label.radio span {
        padding: 2px 9px;
        border: 2px solid black;
        display: inline-block;
        color: black;
        border-radius: 3px;
        text-transform: uppercase
    }

    label.radio input:checked + span {
        border-color: black;
        background-color: black;
        color: #fff
    }

    .btn {

        border-radius: 0;
    }
</style>