<div class="col-sm-12 col-sm-offset-3 col-lg-12">
    <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="manage-tab" data-bs-toggle="tab" data-bs-target="#tab-manage"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Quản lý</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="list-tab" data-bs-toggle="tab" data-bs-target="#tab-list"
                    type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Danh sách</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tab-manage" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">{{checkSubmit==false?title.insert:title.update}} phụ kiện</h2>
                </div>
            </div>
            <!--/.manager-->
            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form role="form" method="post" class="row" name="myForm"
                                  ng-submit="doSubmit()" modelAttribute="accessories" enctype="multipart/form-data">
                                <div class="col-md-6">
                                    <div class="form-group mt-1">
                                        <label>Thể loại </label>
                                        <select ng-model="form.category" class="form-select" name="category" required>
                                            <option ng-repeat="cate in categories" ng-value="cate.idCategory">{{cate.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group mt-1">
                                        <label>Tên phụ kiện</label>
                                        <input ng-model="form.name" class="form-control" required name="name"
                                               ng-minlength="6" ng-maxlength="250">
                                        <span ng-show="myForm.$submitted || myForm.name.$dirty" style="color: red">
                                        <span class="error" ng-show="myForm.name.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Tên phụ kiện không được trống</span>
                                        <span class="error"
                                              ng-show="((myForm.name.$error.minlength
                                              || myForm.name.$error.maxlength) || myForm.name.$error.$dirty)">
                                                <i class="fa fa-exclamation-circle"></i>Tên phụ kiện phải từ 6-250 ký tự</span>
                                    </span>
                                    </div>
                                    <div class="form-group mt-1">
                                        <label>Số lượng</label>
                                        <input ng-model="form.quantity" required name="quantity" type="number" min="1"
                                               maxlength="7" class="form-control">
                                        <span ng-show="myForm.$submitted || myForm.quantity.$dirty" style="color: red">
                                        <span class="error" ng-show="myForm.quantity.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Số lượng không được trống</span>
                                    </span>
                                    </div>
                                    <div class="form-group mt-1">
                                        <label>Màu</label>
                                        <input ng-model="form.color" required name="color" type="text" class="form-control"
                                        ng-minlength="2" ng-maxlength="250">
                                        <span ng-show="myForm.$submitted || myForm.color.$dirty" style="color: red">
                                        <span class="error" ng-show="myForm.color.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Màu không được trống</span>
                                        <span class="error"
                                              ng-show="((myForm.color.$error.minlength
                                              || myForm.color.$error.maxlength) || myForm.color.$error.$dirty)">
                                                <i class="fa fa-exclamation-circle"></i>Màu phải từ 2-250 ký tự</span>
                                    </span>
                                    </div>
                                    <div class="form-group mt-1">
                                        <label>Giá</label>
                                        <input ng-model="form.price" required name="price" min="10000" maxlength="9"
                                               type="number" class="form-control">
                                        <span ng-show="myForm.$submitted || myForm.price.$dirty" style="color: red">
                                        <span class="error" ng-show="myForm.price.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Giá không được trống</span>
                                    </span>
                                    </div>
                                    <hr>
                                    <div class="form-group mt-1" ng-if="checkSubmit==false">
                                        <label>Thêm file Excel</label>
                                        <input type="file" class="form-control"
                                               onchange="angular.element(this).scope().readExcel(this.files)">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mt-1">
                                        <label>Hình ảnh</label>
                                        <br>
                                        <input onchange="angular.element(this).scope().uploadFile(this.files)"
                                               name="image" ng-model="form.image" type="file" class="form-control">
                                        <br>
                                        <div class="mt-1">
                                            <img style="filter: drop-shadow(0 0 5px rgb(119, 119, 145));" width="105px"
                                                 src="https://res.cloudinary.com/dcll6yp9s/image/upload/v1669087979/kbasp5qdf76f3j02mebr.png" ng-if="!form.image">
                                            <img style="filter: drop-shadow(0 0 5px rgb(119, 119, 145));" width="105px"
                                                 src="{{form.image}}">
                                        </div>
                                    </div>
                                    <div class="form-group mt-1">
                                        <label>Mô tả sản phẩm</label>
                                        <textarea ng-model="form.note" class="form-control" rows="3" name="note"
                                                  ng-minlength="6" ng-maxlength="250" required></textarea>
                                        <span ng-show="myForm.$submitted || myForm.note.$dirty" style="color: red">
                                        <span class="error" ng-show="myForm.note.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Mô tả không được trống</span>
                                        <span class="error"
                                              ng-show="((myForm.note.$error.minlength
                                              || myForm.note.$error.maxlength) || myForm.note.$error.$dirty)">
                                                <i class="fa fa-exclamation-circle"></i>Mô tả phải từ 6-250 ký tự</span>
                                    </span>
                                    </div>
                                    <div class="form-group mt-4">
                                        <button type="submit" class="btn {{checkSubmit == false ? 'btn-success' : 'btn-primary'}}" ng-disabled="myForm.$invalid">{{checkSubmit==false?title.insert:title.update}}</button>
                                        <button type="button" ng-if="checkSubmit" ng-click="refresh()" class="btn btn-warning">Hủy</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab-list" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div class="row table-responsive">
                <div class="col-lg-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên phụ kiện</th>
                            <th>Thể loại</th>
                            <th>Số lượng</th>
                            <th>Màu</th>
                            <th>Giá (VNĐ)</th>
                            <th>Trạng thái</th>
                            <th>Mô tả</th>
                            <th>Ngày tạo</th>
                            <th>Ảnh</th>
                            <th>Thao tác</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="accessory in accessories">
                            <td>{{accessory.idAccessory}}</td>
                            <td>{{accessory.name}}</td>
                            <td>{{accessory.category.name}}</td>
                            <td>{{accessory.quantity}}</td>
                            <td>{{accessory.color}}</td>
                            <td>{{accessory.price|number}}</td>
                            <td>{{accessory.status==0?'Hết hàng':'Còn hàng'}}</td>
                            <td>{{accessory.note}}</td>
                            <td>{{accessory.createDate |date:'dd/MM/yyyy'}}</td>
                            <td><img class="img-fluid" width="80px" height="80px" src="{{accessory.image}}"></td>
                            <td>
                                <button class="btn btn-default" ng-click="edit(accessory)" data-bs-target="#tab-manage"
                                        aria-controls="home-tab-pane">
                                    <i class="fa fa-pencil-square" aria-hidden="true"> Sửa</i>
                                </button>
                                <button class="btn btn-default" ng-click="changeStatus(accessory)" ng-if="accessory.quantity>0">
                                    <i class="fa fa-wrench"> Thay đổi</i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
<!--            pagination-->
            <nav class="row table-responsive">
                <table>
                    <ul class="pagination justify-content-center row">
                        <div class="col-1 justify-content-center pagination">
                            <li class="page-item">
                                <button class="btn btn-default {{!check_first?'disabled':''}}" ng-click="first()"><i class="fa fa-fast-backward" aria-hidden="true"></i></button>
                            </li>
                        </div>
                        <div class="col-1 justify-content-center pagination">
                            <li class="page-item ms-2 me-2">
                                <button class="btn btn-default" ng-click="prev()"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
                            </li>
                        </div>
                        <div class="col-sm-1 col-12 justify-content-center pagination">
                            <li class="page-item ms-1 me-1 pt-1 ">
                                <h4>{{index+1}}/{{totalPages}}</h4>
                            </li>
                        </div>
                        <div class="col-1 justify-content-center pagination">
                            <li class="page-item ms-2 me-2">
                                <button class="btn btn-default" ng-click="next()"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
                            </li>
                        </div>
                        <div class="col-1 justify-content-center pagination">
                            <li class="page-item">
                                <button class="btn btn-default {{!check_last?'disabled':''}}" ng-click="last()"><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
                            </li>
                        </div>
                    </ul>
                </table>
            </nav>
        </div>
    </div>
</div>

<style>
    input.ng-invalid.ng-touched {
        border:2px solid red;
    }
    textarea.ng-invalid.ng-touched {
        border:2px solid red;
    }
    select.ng-invalid.ng-touched {
        border:2px solid red;
    }
    button:hover{
        box-shadow: 0 0 5px rgb(119, 119, 145);
    }
</style>
