<footer>
  <section class="footer__top">
    <div class="container">
      <div class="row">
        <article class="footer__top-intro col-lg-5 col-md-4 col-sm-6">
          <h4 class="footer__top-intro-heading">
            Về chúng tôi
          </h4>
          <div class="footer__top-intro-content">
            Fixmobile là cửa hàng luôn cung cấp cho các bạn  đam mê
            những dòng máy đời mới trên khắp cả nước.Chúng tôi sẽ liên tục cập
            nhật những mẫu điện thoại  mới nhất, chất lượng nhất
            giúp người dùng có những trải nghiệm tuyệt vời về sản phẩm! <br> <br>
            Điện thoại: 0352 860 701 <br>
            Email: teamed2@gmail.com <br>
            Zalo:  039.882.3232 <br>
          </div>
        </article>

        <article class="footer__top-policy col-lg-3 col-md-4 col-sm-6">
          <h4 class="footer__top-policy-heading">
            Chính sách mua hàng
          </h4>

          <ul class="footer__top-policy-list">
            <li class="footer__top-policy-item">
              <a href="#" class="footer__top-policy-link">Hình thức đặt hàng</a>
            </li>
            <li class="footer__top-policy-item">
              <a href="#" class="footer__top-policy-link">Hình thức thanh toán</a>
            </li>
            <li class="footer__top-policy-item">
              <a href="#" class="footer__top-policy-link">Phương thức vận chuyển</a>
            </li>
            <li class="footer__top-policy-item">
              <a href="#" class="footer__top-policy-link">Chính sách đổi trả</a>
            </li>
            <li class="footer__top-policy-item">
              <a href="#" class="footer__top-policy-link">Hướng dẫn sử dụng</a>
            </li>
          </ul>
        </article>

        <article class="footer__top-contact-wrap col-lg-4 col-md-4 col-sm-6">
          <h4 class="footer__top-contact-heading">
            Hotline liên hệ
          </h4>

          <div class="footer__top-contact">
            <div class="footer__top-contact-icon">
              <img src="/images/phone_top.png" class="footer__top-contact-img">
            </div>

            <div class="footer__top-contact-phone-wrap">
              <div class="footer__top-contact-phone">
                039.882.3232
              </div>
              <div class="footer__top-contact-des">
                (Giải đáp thắc mắc 24/24)
              </div>
            </div>
          </div>

          <h4 class="footer__top-contact-heading">
            Kết nối với chúng tôi
          </h4>

          <div class="footer__top-contact-social">
            <a href="#" class="footer__top-contact-social-link">
              <img src="/images/facebook.png">
            </a>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="footer__bottom">
    <div class="container">
      <div class="row">
        <span class="footer__bottom-content"></span>
      </div>
    </div>
  </section>
</footer>