<!--<section class="menu-slide">-->
<div class="container mt-3 mb-3">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner block-slider block-slider4">
            <div class="carousel-item active">
                <img src="/images/h4-slide.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        iPhone <span class="primary">6 <strong>Plus</strong></span>
                    </h2>
                    <h4 class="caption subtitle">Dual SIM</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/h4-slide2.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        by one, get one <span class="primary">50% <strong>off</strong></span>
                    </h2>
                    <h4 class="caption subtitle">school supplies & backpacks.*</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
            </div>
            <div class="carousel-item ">
                <img src="/images/h4-slide4.png" class="glyphicon-zoom-in" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        Apple <span class="primary">Store <strong>Ipod</strong></span>
                    </h2>
                    <h4 class="caption subtitle">& Phone</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
            <span class="visually-hidden ">Next</span>
        </button>
    </div>
    <!-- score-top-->
    <!-- bestselling product -->
    <section class="bestselling mt-3">
        <div class="container">
            <div class="text-center">
                <img src="/images/phone_top.png" alt="Sản phẩm bán chạy"
                     class="bestselling__heading-img">
                <div class="">Top bán chạy nhất tuần</div>
            </div>
            <div class="row mt-5">
<!--                <div class="single-product mt-3 col-3" ng-repeat="p in productView">-->
<!--                    <img class="img-responsive"  src="{{p.image}}">-->
<!--                    <div class="product-hover">-->
<!--                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>-->
<!--                        <a href="single-product.html" class="view-details-link mt-3"><i class="fa fa-link"></i> See-->
<!--                            details</a>-->
<!--                    </div>-->
<!--                    <h2><a href="single-product.html">{{p.name}}</a></h2>-->
<!--                    <div class="product-carousel-price">-->
<!--                        <p ng-if="priceSale[$index]==-1">{{p.price | number}} VNĐ</p>-->
<!--                        <p ng-if="priceSale[$index]!=-1 && priceSale[$index]!=0">-->
<!--                            <del>{{p.price | number}} VNĐ</del> &nbsp; {{priceSale[$index] | number}} VNĐ-->
<!--                        </p>-->
<!--                        <p ng-if="priceSale[$index]!=-1 && priceSale[$index]==0">-->
<!--                            <del>{{p.price | number}} VNĐ</del> &nbsp; Free-->
<!--                        </p>-->
<!--                    </div>-->

<!--                </div>-->

                <div class="wrapper mb-5">
                    <div class="container">
                        <div class="row g-1">
                            <div class="col-md-3" ng-repeat="prov in productView">

                                <div class="card p-3">
                                    <div class="text-center">
                                        <img class="img-responsive" src="{{prov.image}}">
                                    </div>

                                    <div class="product-details">
                                        <p ng-if="prov.priceSale==0">{{prov.price | number}} VNĐ</p>
                                        <p ng-if="prov.priceSale!=0">
                                            <del>{{prov.price | number}} VNĐ</del> &nbsp; {{prov.price-prov.priceSale | number}}
                                            VNĐ
                                        </p>

                                        <span>{{prov.name}}</span>

                                        <div class="buttons d-flex flex-row">
                                            <a class="btn btn-success cart-button btn-block col-12" href="#!product"
                                                    ng-click="getDetailProduct(prov.category.idCategory)">Chi tiết sản phẩm
                                            </a>
                                        </div>

                                        <div class="weight">
                                            <small style="color: lightslategray">Còn
                                                {{prov.totail | number}} sản phẩm</small>
                                        </div>

                                    </div>


                                </div>


                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </section>
    <div class="latest-product ">


        <!-- end bestselling product -->

        <!-- product love -->
        <div class="container mb-3">
            <div class="row bg-white">
                <div class="text-center product__love-title ">
                    <h2 class="product__love-heading">
                        Có thể bạn thích
                    </h2>
                </div>
            </div>
            <div class="row bg-white">

                <div class="wrapper mb-5">
                    <div class="container">
                        <div class="row g-1">
                            <div class="col-md-3" ng-repeat="pr1 in viewByPrice">

                                    <span class="font-weight-bold d-block" ng-if="pr1.priceSale!=0"> <del>{{pr1.price | number}} VNĐ</del> {{pr1.price - pr1.priceSale | number}} VNĐ</span>
                                    <span class="font-weight-bold d-block" ng-if="pr1.priceSale==0">{{pr1.price | number}} VNĐ</span>
                                    <span>{{pr1.name}}</span>

                                <div class="card p-3">
                                    <div class="text-center">
                                        <img class="img-responsive" src="{{pr1.image}}">
                                    </div>
                                  
                                    <div class="product-details">
                                        <p ng-if="priceSale[$index]==-1">{{pr1.price | number}} VNĐ</p>
                                        <p ng-if="priceSale[$index]!=-1 && priceSale[$index]!=0">
                                            <del>{{pr1.price | number}} VNĐ</del> &nbsp; {{priceSale[$index] | number}}
                                            VNĐ
                                        </p>
                                        <p ng-if="priceSale[$index]!=-1 && priceSale[$index]==0">
                                            <del>{{pr1.price | number}} VNĐ</del> &nbsp; Free
                                        </p>

                                        <span>{{pr1.name}}</span>

                                        <div class="buttons d-flex flex-row">
                                            <a class="cart" href="#!product"
                                               ng-click="getOneProductHome(pr1)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                     height="16"
                                                     fill="currentColor" class="bi bi-ticket-detailed"
                                                     viewBox="0 0 16 16">
                                                    <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H5Z"/>
                                                    <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z"/>
                                                </svg>
                                            </a>
                                            <button class="btn btn-success cart-button btn-block "
                                                    ng-click="addCart(pr1)">Add to cart
                                            </button>
                                        </div>

                                        <div class="weight">
                                            <small style="color: lightslategray">Còn
                                                {{pr1.totail | number}} sản phẩm</small>
                                        </div>

                                    </div>


                                </div>


                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<style>
    body {

        background: #eee;
    }
    .img-responsive{
         width: 150px;
         height: 150px;
     }
    .wrapper {

        margin-top: 30px;
    }

    .card {

        border: 1px solid #eee;
        cursor: pointer;
    }


    .weight {

        margin-top: -65px;
        transition: all 0.5s;
    }

    .weight small {

        color: #e2dede;
    }

    .buttons {
        padding: 10px;
        background-color: #d6d4d44f;
        border-radius: 4px;
        position: relative;
        margin-top: 7px;
        opacity: 0;
        transition: all 0.8s;
    }

    .dot {
        height: 14px;
        width: 14px;
        background-color: green;
        border-radius: 50%;
        position: absolute;
        left: 27%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
        color: #fff;
        opacity: 0;
    }

    .cart-button {
        height: 48px
    }

    .cart-button:focus {
        box-shadow: none
    }

    .cart {
        position: relative;
        height: 48px !important;
        width: 50px;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 11px;
        border-radius: 5px;
        font-size: 14px;
        transition: 1s ease-in-out;
        overflow: hidden;

    }

    .cart-button.clicked span.dot {
        animation: item 0.3s ease-in forwards
    }

    @keyframes item {
        0% {
            opacity: 1;
            top: 30%;
            left: 30%
        }

        25% {
            opacity: 1;
            left: 26%;
            top: 0%
        }

        50% {
            opacity: 1;
            left: 23%;
            top: -22%
        }

        75% {
            opacity: 1;
            left: 19%;
            top: -18%
        }

        100% {
            opacity: 1;
            left: 14%;
            top: 28%
        }
    }


    .card:hover .buttons {

        opacity: 1;
    }


    .card:hover .weight {

        margin-top: 10px;
    }

    .card:hover {

        transform: scale(1.04);
        z-index: 2;
        overflow: hidden;
    }

    label.radio {
        cursor: pointer
    }

    label.radio input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none
    }

    label.radio span {
        padding: 2px 9px;
        border: 2px solid black;
        display: inline-block;
        color: black;
        border-radius: 3px;
        text-transform: uppercase
    }

    label.radio input:checked + span {
        border-color: black;
        background-color: black;
        color: #fff
    }

    .btn {

        border-radius: 0;
    }
</style>
