<div class="main">
	<main class="content p-0">
		<div class="container-fluid p-0">
			<div class="mb-3">
				<h1 class="h3 d-inline align-middle">Quản lý tài khoản</h1>

			</div>
			<div class="container-fluid p-0">


				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="row mb-3">
								<div class="col-sm-3">
									<h5 class="card-title mb-0">Tên tài khoản</h5>
								</div>
								<div class="col-sm-9">
									<input type="text" class="form-control" placeholder="Tên tài khoản đăng nhập">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="row  mb-3">
								<div class="col-sm-3">
									<h5 class="card-title mb-0">Trạng thái</h5>
								</div>
								<div class="col-sm-9">
									<select class="form-select mb-3">
										<option selected>Chọn trạng thái</option>
										<option>Hoạt động</option>
										<option>Không hoạt động</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="row  mb-3">
								<div class="col-sm-3">
									<h5 class="card-title mb-0">Họ và Tên</h5>
								</div>
								<div class="col-sm-9">
									<input type="text" class="form-control" placeholder="Họ và Tên">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="row  mb-3">
								<div class="col-sm-3">
									<h5 class="card-title mb-0">Số điện thoại</h5>
								</div>
								<div class="col-sm-9">
									<input type="text" class="form-control" placeholder="Số điện thoại liên lạc">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="row  mb-3">
								<div class="col-sm-3">
									<h5 class="card-title mb-0">Giới tính</h5>
								</div>
								<div class="col-sm-9">
									<div class="form-control">
										<label class="radio-inline"> <input
											ng-model="form.available" checked ng-value="true" name="available"
											type="radio">Nam
										</label>
										<!-- ng-value: để giá trị true -false | không phải là chuỗi -->
										<label class="radio-inline"> <input
											ng-model="form.available" ng-value="false" name="available"
											type="radio">Nữ
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="row  mb-3">
								<div class="col-sm-3">
									<h5 class="card-title mb-0">Chức vụ</h5>
								</div>
								<div class="col-sm-9">
									<select class="form-select mb-3">
										<option selected>Chọn chức vụ</option>
										<option>Nhân viên</option>
										<option>Khách hàng</option>
										<option>Người quản lý</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">

							<div class="row  mb-3">
								<div class="col-sm-3">
									<h5 class="card-title mb-0">Email</h5>
								</div>
								<div class="col-sm-9">
									<input type="text" class="form-control" placeholder="Email">
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row  mb-3">
								<div class="col-sm-3">
									<h5 class="card-title mb-0">Hình ảnh</h5>
								</div>
								<div class="col-sm-9">
									<div class="mb-3">
										<input class="form-control" type="file" id="formFile">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">

							<div class="row  mb-3">
								<div class="col-sm-3">
									<h5 class="card-title mb-0">Mật khẩu</h5>
								</div>
								<div class="col-sm-9">
									<input type="password" class="form-control" placeholder="Mật khẩu">
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row  mb-3">
								<div class="col-sm-3">
									<h5 class="card-title mb-0">Ngày tạo</h5>
								</div>
								<div class="col-sm-9">
									<div class="mb-3">
										<input ng-model="form.createDate" type="date" class="form-control">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row m-3">
					<div class="col-sm-6 offset-5">
						<button class="btn btn-success"> <b class="glyphicon glyphicon-plus"></b> Thêm mới</button>
						<button class="btn btn-primary"> <b class="glyphicon glyphicon-save"></b>Cập nhật</button>
						<button class="btn btn-danger"> <b class="glyphicon glyphicon-trash"></b>Xóa form</button>
					</div>
				</div>

				<div class="row ">
					<div class="panel panel-default">
						<div class="panel-body">
							<table class="table table-condensed">
								<thead class="bg-success" style="font-variant: small-caps;">
									<tr>
										
										<th>Hình ảnh</th>
										<th>Tài khoản</th>
										<th>Họ và Tên</th>
										<th>Giới tính</th>
										<th>Email</th>
										<th>SĐT</th>
										<th>Ngày tạo</th>
										<th>Trạng thái</th>
										<th>Chức vụ</th>
										<th>Hành động</th>
										
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="acc in accounts">
										<td>{{acc.image}}</td>
										<td>{{acc.username}}</td>
										<td>{{acc.fullName}}</td>
										<td>{{acc.gender}}</td>
										<td>{{acc.email}}</td>
										<td>{{acc.phone}}</td>
										<td>{{acc.createDate}}</td>
										<td>{{acc.status}}</td>
										<td>{{acc.role}}</td>
										<td>
											<div class="btn-group btn-group-xs">
												<button ng-click="edit(accounts)"
													class="btn btn-warning glyphicon glyphicon-edit"></button>
												<button ng-click="delete(accounts)"
													class="btn btn-danger glyphicon glyphicon-trash"></button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>


			</div>

		</div>
	</main>

</div>