<ul class="nav nav-tabs container" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <p class="nav-link text-dark">
            Lọc:</p>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="acc-tab" data-bs-toggle="tab" data-bs-target="#acc-tab-pane"
                type="button" role="tab">
            Tài khoản</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                type="button" role="tab">
            Tổng tiền</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
            Thời gian</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
            Trạng thái</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active container" id="acc-tab-pane" role="tabpanel" aria-labelledby="acc-tab" tabindex="0">
        <div class="row">
            <div class="col-12 col-sm-3">
                Tài khoản
                <select class="form-select" ng-model="userSearch" ng-change="selectByUser()">
                    <option ng-repeat="acc in accs" ng-value="acc.username">
                        {{acc.username}}
                    </option>
                </select>
            </div>
            <div class="col-12 col-sm-3">
                Họ tên
                <input type="text" ng-model="nameSearch" class="form-control" ng-change="findByName()">
            </div>
        </div>
    </div>
    <div class="tab-pane fade show container" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="row">
            <div class="col-12 col-sm-3">
                Từ giá
                <input type="number" ng-model="price1" class="form-control" >
            </div>
            <div class="col-12 col-sm-3">
                Đến giá
                <input type="number" ng-model="price2" class="form-control" >
            </div>
            <div class="col-12 col-sm-3 mt-4">
                <button class="btn btn-primary" ng-click="findByPrice()">Lọc</button>
            </div>
        </div>
    </div>
    <div class="tab-pane fade " id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div class="row">
                <div class="col-12 col-sm-3">
                    Từ ngày
                    <input type="date" ng-model="date1" class="form-control" >
                </div>
                <div class="col-12 col-sm-3">
                    Đến ngày
                    <input type="date" ng-model="date2" class="form-control" >
                </div>
                <div class="col-12 col-sm-2 mt-4">
                    <button class="btn btn-primary" ng-click="findByDate()">Lọc</button>
                </div>
        </div>
    </div>
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <div class="row container" >
            <span>Sắp xếp</span>
            <select class="form-select" ng-model="">
                <option ng-value="0">Tất cả</option>
                <option ng-value="1">Từ thấp đến cao</option>
                <option ng-value="2">Từ cao đến thấp</option>
            </select>
            <div class="col-3 offset-2">
                <span>Sắp xếp</span>
                <select class="form-select" ng-model="">
                    <option ng-value="0">Tất cả</option>
                    <option ng-value="1">Từ thấp đến cao</option>
                    <option ng-value="2">Từ cao đến thấp</option>
                </select>
            </div>
            <div class="col-3 offset-2">
                <span>Sắp xếp</span>
                <select class="form-select" ng-model="">
                    <option ng-value="0">Tất cả</option>
                    <option ng-value="1">Từ thấp đến cao</option>
                    <option ng-value="2">Từ cao đến thấp</option>
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-2">
                <button class="btn btn-primary">Lọc</button>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive mt-2" ng-if="orders.length>0">
    <table class="table table-bordered table-hover container">
        <thead>
        <tr>
            <th>Mã hóa đơn</th>
            <th>Tài khoản</th>
            <th>
                <button class="btn btn-default" ng-click="hoTen()" ng-if="!checkHoTen">
                    <strong>Họ tên</strong>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <button class="btn btn-default" ng-click="hoTen()" ng-if="checkHoTen">
                    <strong>Họ tên</strong>
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                </button>
            </th>
            <th>Số điện thoại</th>
            <th>Địa chỉ nhận</th>
            <th>
                <button class="btn btn-default" ng-click="ngayMua()" ng-if="!checkNgayMua">
                    <strong>Ngày mua</strong>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <button class="btn btn-default" ng-click="ngayMua()" ng-if="checkNgayMua">
                    <strong>Ngày mua</strong>
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                </button>
            </th>
            <th>Tiền ship</th>
            <th>
                <button class="btn btn-default" ng-click="tongGiaTang()" ng-if="!checkTongGia">
                    <strong>Tổng giá (VNĐ)</strong>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <button class="btn btn-default" ng-click="tongGiaGiam()" ng-if="checkTongGia">
                    <strong>Tổng giá (VNĐ)</strong>
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                </button>
            </th>
            <th>Ghi chú</th>
            <th>
                <button class="btn btn-default" ng-click="trangThai()" ng-if="!checkTrangThai">
                    <strong>Trạng thái</strong>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>
                <button class="btn btn-default" ng-click="trangThai()" ng-if="checkTrangThai">
                    <strong>Trạng thái</strong>
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                </button>
            </th>
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in orders">
            <td>{{order.idOrder}}</td>
            <td>{{order.account.username}}</td>
            <td>{{order.personTake}}</td>
            <td>{{order.phoneTake}}</td>
            <td>{{order.address}}</td>
            <td>{{order.createDate|date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{order.moneyShip|number}}</td>
            <td>{{order.total|number}}</td>
            <td ng-if="order.note">{{order.note}}</td>
            <td ng-if="!order.note">Không có</td>
            <td>
        <span ng-if="order.status==0 && order.statusBuy==0">
            <span class="text-warning">Chưa thanh toán (Chờ xác nhận)</span>
        </span>
        <span ng-if="order.status==0 && order.statusBuy==1">
            <span class="text-info">Đã thanh toán (Chờ xác nhận)</span>
        </span>
        <span ng-if="order.status==1">
            <span class="text-primary">Xác nhận</span>
        </span>
        <span ng-if="order.status==2">
            <span class="text-primary">Đang giao hàng</span>
        </span>
        <span ng-if="order.status==3">
            <span class="text-success">Hoàn tất giao dịch</span>
        </span>
        <span ng-if="order.status==4">
            <span class="text-dark">Hủy đơn</span>
        </span>
        <span ng-if="order.status==5">
            <span class="text-dark">Hoàn trả</span>
        </span>
                <select ng-model="form.status" ng-change="updateStatus(order.idOrder)" class="form-select" >
                    <option ng-repeat="item in status" ng-value="item.id">{{item.name}}</option>
                </select>
            </td>
            <td>
                <a href="#!order-detail" ng-click="getOrder(order)" class="btn btn-default">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Chi tiết
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="alert alert-warning container" ng-if="orders.length<=0">Không có dữ liệu</div>
