<table class="table table-bordered table-hover container">
    <thead>
    <tr>
        <th>Mã hóa đơn</th>
        <th>Tài khoản</th>
        <th>Họ tên</th>
        <th>Số điện thoại</th>
        <th>Địa chỉ nhận</th>
        <th>Ngày mua</th>
        <th>Tổng giá (VNĐ)</th>
        <th>Trạng thái</th>
        <th>Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in orders">
        <td>{{order.idOrder}}</td>
        <td>{{order.account.username}}</td>
        <td>{{order.personTake}}</td>
        <td>{{order.phoneTake}}</td>
        <td>{{order.address}}</td>
        <td>{{order.createDate|date:'dd/MM/yyyy'}}</td>
        <td>{{order.total|number}}</td>
        <td>
        <span ng-if="order.status==0">
            <span class="text-warning">Chưa thanh toán</span>
        </span>
        <span ng-if="order.status==1">
            <span class="text-info">Đã thanh toán</span>
        </span>
        <span ng-if="order.status==2">
            <span class="text-primary">Đang giao hàng</span>
        </span>
        <span ng-if="order.status==3">
            <span class="text-success">Hoàn tất</span>
        </span>
        <span ng-if="order.status==4">
            <span class="text-dark">Hoàn đơn</span>
        </span>
            <select ng-model="form.status" ng-change="updateStatus(order.idOrder)" class="form-select" >
                <option ng-repeat="item in status" ng-value="item.id">{{item.name}}</option>
            </select>
        </td>
        <td>
            <a href="#!order-detail" ng-click="getOrder(order.idOrder)" class="btn btn-default">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Chi tiết
            </a>
        </td>
    </tr>
    </tbody>
</table>
