<div class="col-sm-12 col-sm-offset-3 col-lg-12">
    <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="manage-tab" data-bs-toggle="tab" data-bs-target="#tab-manage"
                    type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Sản phẩm</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="list-tab" data-bs-toggle="tab" data-bs-target="#tab-list"
                    type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Imei</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tab-manage" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="row mt-4">
                <h1 class="page-header text-center
             text-body">Quản lý sản phẩm</h1>

             </div>
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="page-header">{{checkSubmit==false?title.insert:title.update}} sản phẩm</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form role="formProduct" method="post" class="row" name="myForm"
                                  ng-submit="doSubmit()"  enctype="multipart/form-data">
                                <div class="col-md-6">
                                    <div class="form-group mt-1">
                                        <label >Thể loại </label>
                                        <select ng-model="formProduct.category" class="form-select" name="category" required ng-change="generationName()">
                                            <option  ng-value="">Chọn thể loại
                                            </option>
                                            <option ng-repeat="cate in categories" ng-value="cate.idCategory">{{cate.name}}
                                            </option>

                                        </select>
                                        <span ng-show="myForm.$submitted || myForm.category.$dirty" style="color: red">
                                        <span class="error" ng-show="myForm.category.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Phải chọn thể loại </span>
                                    </span>
                                    </div>
                                    <div class="form-group mt-1">
                                        <label>Tên sản phẩm</label>
                                        <input disabled maxlength="250" ng-model="formProduct.name" class="form-control" name="name" placeholder="Tên sản phẩm"
                                               ng-minlength="6" ng-maxlength="250" required>
                                        <span ng-show="myForm.$submitted || myForm.name.$dirty" style="color: red">
                                        <span class="error" ng-show="myForm.name.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Tên sản phẩm không được trống</span>
                                        <span class="error"
                                              ng-show="((myForm.name.$error.minlength
                                              || myForm.name.$error.maxlength) || myForm.name.$error.$dirty)">
                                                <i class="fa fa-exclamation-circle"></i>Tên sản phẩm phải từ 6-250 ký tự</span>
                                    </span>
                                    </div>
                                    <div class="form-group mt-1">
                                        <label >Ram </label>
                                        <select ng-model="formProduct.ram" class="form-select" name="ram" required ng-change="generationName()">
                                            <option value="" ng-value="">Chọn ram
                                            </option>
                                            <option ng-repeat="cate in rams" ng-value="cate.idRam">{{cate.name}}
                                            </option>
                                        </select>
                                        <span ng-show="myForm.$submitted || myForm.ram.$dirty" style="color: red">
                                        <span class="error" ng-show="myForm.ram.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Phải chọn ram </span>
                                    </span>
                                    </div>
                                    <div class="form-group mt-1">
                                            <label >Màu </label>
                                            <select ng-model="formProduct.color" class="form-select" name="color" required ng-change="generationName()">
                                                <option  value="" ng-value="">Chọn màu
                                                </option>
                                                <option ng-repeat="color in colors" ng-value="color.idColor">{{color.name}}
                                                </option>
                                            </select>
                                        <span ng-show="myForm.$submitted || myForm.color.$dirty" style="color: red">
                                        <span class="error" ng-show="myForm.color.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Phải chọn màu  </span>
                                    </span>
                                    </div>
                                    <div class="form-group mt-1">
                                        <label>Dung lượng</label>
                                        <select ng-model="formProduct.capacity" class="form-select" name="capacity" required ng-change="generationName()">
                                            <option  value="" ng-value="">Chọn dung lượng
                                            </option>

                                            <option ng-repeat="capa in capacitys"  ng-value="capa.idCapacity">{{capa.name}}
                                            </option>

                                        </select>
                                        <span ng-show="myForm.$submitted || myForm.capacity.$dirty" style="color: red">
                                        <span class="error" ng-show="myForm.capacity.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Phải chọn dung lượng </span>
                                    </span>
                                    </div>
                                    <div class="form-group mt-1">
                                        <label>Giá</label>
                                        <input ng-maxlength="9" maxlength="9" ng-model="formProduct.price" required type="number"
                                               class="form-control" name="price"  placeholder="Giá bán"  min="1" max="999999999">
                                        <span ng-show="myForm.$submitted || myForm.price.$dirty" style="color: red">
                                        <span class="error" ng-show="myForm.price.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Giá bán không được trống</span>
                                        <span class="error" ng-show="myForm.price.$error.min"> <i
                                                class="fa fa-exclamation-circle"></i>Giá bán phải > 0</span>
                                        <span class="error" ng-show="myForm.price.$error.max">
                                        <i class="fa fa-exclamation-circle"></i>Giá sản phẩm không quá 9 ký tự </span>
                                        </span>

                                    </div>

                                    <div ng-if="checkSubmit==false" class="form-group mt-1">
                                        <label>Thêm file Excel</label>
                                        <input type="file"  class="form-control"
                                               onchange="angular.element(this).scope().xcellData(this.files)" name="file">
                                        <span ng-show="myForm.$submitted || myForm.file.$dirty" style="color: red">
                                        <span class="error" ng-show="myForm.file.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Vui lòng chọn ảnh</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mt-1">
                                        <label>Camera</label>
                                        <input maxlength="250" oninput="this.value = this.value.toUpperCase()" ng-model="formProduct.camera" class="form-control" placeholder="Camera">
                                        <span ng-show="myForm.$submitted || myForm.size.$dirty" style="color: red">
                                        <span class="error" ng-show="formProduct.camera.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Camera không được trống</span>
                                        </span>
                                    </div>
                                    <div class="form-group mt-2 mb-3" ng-if="checkSubmit">
                                        <label>Trạng thái</label>
                                        <br>
                                        <input type="radio" class="form-check-input" checked
                                               ng-model="formProduct.status" name="status" ng-value="1"> Còn hàng
                                        <input type="radio" class="form-check-input"
                                               ng-model="formProduct.status" name="status" ng-value="0"> Hết hàng
                                    </div>

                                    <div  ng-if="checkButton" class="form-group mt-1">
                                        <label>Hình ảnh</label>
                                        <br>
                                        <input
                                                onchange="angular.element(this).scope().uploadFile(this.files)"
                                                type="file" name="files"
                                                class="form-control" multiple>
                                    </div>


                                    <div class="form-group mt-1">
                                        <label>Kích thước</label>
                                        <input oninput="this.value = this.value.toUpperCase()" maxlength="250" ng-model="formProduct.size" class="form-control" name="size" placeholder="Kích thước" required>
                                        <span ng-show="myForm.$submitted || myForm.size.$dirty" style="color: red">
                                        <span class="error" ng-show="myForm.size.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Kích thước không được trống</span>
                                        </span>
                                    </div>

                                    <div class="form-group mt-1">
                                        <label>Mô tả sản phẩm</label>
                                        <textarea maxlength="5000" placeholder="Nhập mô tả" ng-model="formProduct.note" class="form-control" rows="3" name="note"  ng-maxlength="250"></textarea>

                                    </div>

                                    <div class="form-group mt-4">
                                        <button type="submit"  class="btn {{checkSubmit == false ? 'btn-success' : 'btn-primary'}}" ng-disabled="myForm.$invalid">{{checkSubmit==false?title.insert:title.update}}</button>
                                        <button type="button" ng-if="checkSubmit" ng-click="refresh()" class="btn btn-warning">Làm mới</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row table-responsive">
                   <div class="col-lg-12 mt-4">
                       <table class="table table-striped table-hover table-bordered">
                           <thead>
                           <tr>
                               <th>STT</th>
                               <th>Tên sản phẩm</th>
                               <th>Thể loại</th>
                               <th>Dung lượng</th>
                               <th>Màu</th>
                               <th>Giá (VNĐ)</th>
                               <th>Trạng thái</th>
                               <th>Mô tả</th>
                               <th style="width: 100px">Ngày tạo</th>
                               <th>Ảnh</th>
                               <th>Thao tác</th>
                           </thead>
                           <tbody>
                           <tr ng-repeat="product in products" >
                               <td>{{$index + 1}}</td>
                               <td>{{product.name}}</td>
                               <td>{{product.category.name}}</td>
                               <td>{{product.capacity.name}}</td>
                               <td>{{product.color.name}}</td>
                               <td>{{product.price|number}}</td>
                               <td ng-if="product.status== 1">Còn hàng</td>
                               <td ng-if="product.status== 0">Hết hàng</td>
                               <td>{{product.note}}</td>
                               <td style="width: 100px">{{product.createDate | date:'dd/MM/yyyy'}}</td>
                               <td><img class="img-responsive" width="80px" height="80px"
                                        src="{{product.images.length>0?product.images[0].name:''}}"></td>
                               <td>
                                   <button
                                           ng-click="edit(product)"  class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                       <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                       <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                   </svg>
                                   </button>
                                   <button  ng-click="delete(product)"class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                       <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                   </svg></button>
                               </td>
                           </tr>
                           </tbody>
                       </table>

       </div>
            </div>
            <nav class="row table-responsive">
                <table>
                    <ul class="pagination justify-content-center row">
                        <div class="col-1 justify-content-center pagination">
                            <li class="page-item">
                                <button class="btn btn-default {{!check_first?'disabled':''}}" ng-click="first()"><i class="fa fa-fast-backward" aria-hidden="true"></i></button>
                            </li>
                        </div>
                        <div class="col-1 justify-content-center pagination">
                            <li class="page-item ms-2 me-2">
                                <button class="btn btn-default" ng-click="prev()"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
                            </li>
                        </div>
                        <div class="col-sm-1 col-12 justify-content-center pagination">
                            <li class="page-item ms-1 me-1 pt-1 ">
                                <h4>{{index+1}}/{{totalPages}}</h4>
                            </li>
                        </div>
                        <div class="col-1 justify-content-center pagination">
                            <li class="page-item ms-2 me-2">
                                <button class="btn btn-default" ng-click="next()"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
                            </li>
                        </div>
                        <div class="col-1 justify-content-center pagination">
                            <li class="page-item">
                                <button class="btn btn-default {{!check_last?'disabled':''}}" ng-click="last()"><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
                            </li>
                        </div>
                    </ul>
                </table>
            </nav>
        </div>

    </div>
    <div class="tab-pane fade" id="tab-list" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div class="row">
            <div class="row mt-4">
                <h1 class="page-header text-center
             text-body">Imei máy</h1>

             <div>
            <div  class="col-lg-6">
                <h2 class="page-header">{{checkSubmit==false?title.insert:title.update}} imei máy</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="formProduct" method="post" class="row" name="myFormImay"
                              ng-submit="doSubmitImay()"  enctype="multipart/form-data">
                            <div class="col-md-6">
                                <div class="form-group mt-1">
                                    <label >Sản phẩm </label>
                                    <select ng-model="formProduct.product" class="form-select text-danger" name="product" required>
                                        <option ng-repeat="p in products" ng-value="p.idProduct">{{p.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group mt-1 ">
                                    <label>Mã imei máy</label>
                                    <input PATTERN="^[0-9]{15,15}|[,]$" name="imei" oninput="this.value = this.value.toUpperCase().trim()" minlength="15" maxlength="15" ng-model="formProduct.name"   class="form-control" placeholder="Nhập imei máy" required>
                                    <span ng-show="myFormImay.$submitted || myFormImay.imei.$dirty" style="color: red">
                                        <span class="error" ng-show="myFormImay.imei.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Mã imei không được trống</span>
                                        <span class="error" ng-show="myFormImay.imei.$error.pattern"> <i
                                                class="fa fa-exclamation-circle"></i>Mã imei gồm 15 chữ số</span>
                                    </span>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div ng-if="checkSubmit==false" class="form-group mt-1">
                                    <label>Thêm file Excel</label>
                                    <input type="file"  class="form-control"
                                           onchange="angular.element(this).scope().xcellDataImay(this.files)" >
                                </div>
                                <div class="form-group mt-4">
                                    <button type="submit"  class="btn btn-success"  ng-disabled="myFormImay.$invalid">{{checkSubmit==false?title.insert:title.update}}</button>
                                    <button type="button" ng-if="checkSubmit" ng-click="refresh()" class="btn btn-warning">Làm mới</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row table-responsive">
            <div class="col-lg-12 mt-4">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Số Imei</th>
                        <th>Tên sản phẩm</th>
                        <th>Thao tác</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="imei in pageImei">
                        <td>{{$index + 1}}</td>
                        <td>{{imei.name}}</td>
                        <td>{{imei.product.name}}</td>
                        <td>
                            <button  ng-click="deleteImei(imei)"class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg></button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <nav class="row table-responsive">
                <table>
                    <ul class="pagination justify-content-center row">
                        <div class="col-1 justify-content-center pagination">
                            <li class="page-item">
                                <button class="btn btn-default {{!check_first_imei?'disabled':''}}" ng-click="firstPageImei()"><i class="fa fa-fast-backward" aria-hidden="true"></i></button>
                            </li>
                        </div>
                        <div class="col-1 justify-content-center pagination">
                            <li class="page-item ms-2 me-2">
                                <button class="btn btn-default {{!check_prev_imei?'disabled':''}}" ng-click="prevPageImei()"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
                            </li>
                        </div>
                        <div class="col-sm-1 col-12 justify-content-center pagination">
                            <li class="page-item ms-1 me-1 pt-1 ">
                                <h4>{{currentPageImei}}/{{totalPagesImei}}</h4>
                            </li>
                        </div>
                        <div class="col-1 justify-content-center pagination">
                            <li class="page-item ms-2 me-2">
                                <button class="btn btn-default {{!check_next_imei?'disabled':''}}"  ng-click="nextPageImei()"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
                            </li>
                        </div>
                        <div class="col-1 justify-content-center pagination">
                            <li class="page-item">
                                <button class="btn btn-default {{!check_last_imei?'disabled':''}}" ng-click="lastPageImei()"><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
                            </li>
                        </div>
                    </ul>
                </table>
            </nav>
        </div>
    </div>

</div>


<style>
    input.ng-invalid.ng-touched {
        border:2px solid red;
    }

    textarea.ng-invalid.ng-touched {
        border:2px solid red;
    }
    select.ng-invalid.ng-touched {
        border:2px solid red;
    }
    button:hover{
        box-shadow: 0 0 5px rgb(119, 119, 145);
    }

</style>