<div class="col-sm-9 col-sm-offset-3 col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header mr-2">{{checkSubmit == false ? title.insert : title.update}} danh mục</h1>
        </div>
    </div><!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" method="post" class="row"
                          ng-submit="doSubmit()" enctype="multipart/form-data">
                        <div class="col-md-6">
                            <div class="form-group mt-2">
                                <label>Danh Mục</label>
                                <br>
                                <input type="radio" class="form-check-input"
                                       ng-model="form.type" name="type" ng-value="false"> Sản Phẩm
                                <input type="radio" class="form-check-input"
                                       checked ng-model="form.type" name="type" ng-value="true"> Phụ Kiện
                                <br>
                            </div>

                            <div class="form-group mt-1">
                                <label>Tên Danh Mục</label>
                                <input ng-model="form.name" required class="form-control" placeholder="">
                            </div>

                        </div>
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-success">
                                {{checkSubmit == false ? title.insert : title.update}}
                            </button>
                            <button ng-if="checkSubmit" ng-click="refresh()" class="btn btn-warning">Hủy</button>
                            <button type="reset" ng-click="refresh()" class="btn btn-primary">Làm mới</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Type</th>
                    <th>Tên</th>
                    <th>Thao tác</th>
                </thead>
                <tbody>
                <tr ng-repeat="cate in category">
                    <td>{{$index + 1}}</td>
                    <td>{{cate.type == true ? 'Phụ Kiện' : 'Sản Phẩm'}}</td>
                    <td>{{cate.name}}</td>

                    <td>
                        <button ng-click="edit(cate)" class="btn btn-primary">Sửa</button>
                        <button ng-click="delete(cate)" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link {{!check_first?'disabled':''}}" ng-click="first()">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" ng-click="prev()">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">{{index+1}}/{{totalPages}}</a></li>
                <li class="page-item">
                    <a class="page-link" ng-click="next()">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link {{!check_last?'disabled':''}}" ng-click="last()">Last</a>
                </li>
            </ul>
        </nav>
    </div>


</div>