<section class="contact">
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-lg-6 col-md-6 col-sm-12 contact__self">
                <h3 class="mb-4">
                    Liên hệ với chúng tôi
                </h3>
                <p>
                    Fixmobile là cửa hàng luôn cung cấp cho các bạn đam mê
                    những dòng máy đời mới trên khắp cả nước.Chúng tôi sẽ liên tục cập
                    nhật những mẫu điện thoại mới nhất, chất lượng nhất
                    giúp người dùng có những trải nghiệm tuyệt vời về sản phẩm!
                </p>
                <h3 class="mt-4 mb-4">
                    Thông tin liên hệ
                </h3>

                <ul class="contact__self-list">
                    <li class="contact__self-item">
                        <a class="contact__self-link" href="#">SĐT: 0352 860 701</a>
                    </li>
                    <li class="contact__self-item">
                        <a class="contact__self-link" href="#">Email: teamed2@gmail.com</a>
                    </li>
                    <li class="contact__self-item">
                        <a class="contact__self-link" href="#">Zalo : 039.882.3232</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>