<section class="contact">
    	<div class="container">
    		<div class="row mt-4 mb-4">
                <div class="col-lg-6 col-md-6 col-sm-12 contact__self">
                    <h3 class="mb-4">
                        Liên hệ với chúng tôi
                    </h3>
                    <p>
                        Để không ngừng nâng cao chất lượng dịch vụ và đáp ứng tốt hơn nữa các yêu cầu sử dụng sách của Quý khách, chúng tôi mong muốn nhận được các thông tin phản hồi. Nếu Quý khách có bất kỳ thắc mắc hoặc đóng góp nào, xin vui lòng liên hệ với chúng tôi theo thông tin dưới đây. Chúng tôi sẽ phản hồi lại Quý khách trong thời gian sớm nhất.
                    </p>
                    <h3 class="mt-4 mb-4">
                        Thông tin liên hệ
                    </h3>
                    
                    <ul class="contact__self-list">
                        <li class="contact__self-item">
                            <a class="contact__self-link" href="#">EduBook.com</a>
                        </li>
                        <li class="contact__self-item">
                            <a class="contact__self-link" href="#">SĐT: 0393.078.242</a>
                        </li>
                        <li class="contact__self-item">
                            <a class="contact__self-link" href="#">Email: EduBook2001@gmail.com</a>
                        </li>
                        <li class="contact__self-item">
                            <a class="contact__self-link" href="#">Địa chỉ: Số 3A, Tạ Quang Bử, Hai Bà Trưng, Hà Nội</a>
                        </li>
                    </ul>
                </div>
    			<div class="col-lg-6 col-md-6 col-sm-12 contact__regist">
    				<h3 class="mb-4">
    					Đăng ký tư vấn miễn phí
    				</h3>

    				<p>Quý khách vui lòng để lại thông tin để nhân viên tư vấn điện lại cho bạn sớm nhất!</p>

    				<form>
					    <input type="text" class="form-control mt-2"  aria-describedby="emailHelp" placeholder="Họ tên của bạn...">

					    <input type="email" class="form-control mt-2" aria-describedby="emailHelp" placeholder="Email của bạn...">

					    <input type="number" class="form-control mt-2" aria-describedby="emailHelp" placeholder="Số điện thoại...">
						
						<textarea name="" id="" cols="60" rows="15"  class="mt-2" placeholder="Nội dung cần tư vấn..."></textarea>
					  <button  class="mt-3" type="submit">Gửi liên hệ</button>
					</form>
    			</div>
    		</div>
    	</div>
</section>