<table class="table table-bordered table-hover tabl container">
  <thead>
  <tr>
    <th>Sản phẩm</th>
    <th>Màu</th>
    <th>Thể loại</th>
    <th>Giá (VNĐ)</th>
    <th>Mã máy</th>
    <th>Hình ảnh</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="orderDetail in orderDetails" ng-if="orderDetail.product">
    <td>{{orderDetail.product.name}}</td>
    <td>{{orderDetail.product.color.name}}</td>
    <td>{{orderDetail.product.category.name}}</td>
    <td>{{orderDetail.price|number}}</td>
    <td>{{orderDetail.product.imei.name}}</td>
    <td><img width="80px" height="80px" src="{{orderDetail.product.images[0].name}}"></td>
    <td>{{orderDetail.quantity*orderDetail.price|number}}</td>
    <td>
      <a href="#!detail-product" class="btn btn-default">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Chi tiết
      </a>
    </td>
  </tr>
  </tbody>
</table>