<h3 class="text-center text-primary text-opacity-50">Danh sách hàng cần trả</h3>
<div class="mt-2 col-2 offset-10">
    <button ng-click="postRequest()" class="btn btn-secondary">Xác nhận</button>
    <button ng-click="putRequest()" class="btn btn-secondary">Hủy bỏ</button>
</div>
<table class="table table-bordered table-hover container mt-2">
    <thead>
    <tr>
        <th>Chọn</th>
        <th>Khách hàng</th>
        <th>Liên hệ</th>
        <th>Ngày đổi trả</th>
        <th>Tình trạng máy</th>
        <th>Sản phẩm</th>
        <th>Trạng thái</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="prChange in listProductChange">
        <td ><input ng-if="prChange.status != 3" type="checkbox" name="" ng-checked="checkSelect(prChange)"
                   ng-click="checkSelected(prChange.idChange)"></td>
        <td>{{prChange.account.username}}</td>
        <td>{{prChange.account.email}} <br> {{prChange.account.phone}}</td>
        <td>{{prChange.dateChange | date:'dd/MM/yyyy h:mm:a'}}</td>
        <td>{{prChange.note}}</td>
        <td>
            <button ng-click="getAllProductChangeDetails(prChange.idChange)" class="btn btn-default"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="fa fa-info-circle" aria-hidden="true"></i> {{prChange.orderDetail.product.name}}
            </button>
        </td>
        <td ng-if="prChange.status==0">Không có yêu cầu</td>
        <td ng-if="prChange.status==1">Chờ xác nhận</td>
        <td ng-if="prChange.status==2">Đã xác nhận, chờ đổi trả</td>
        <td ng-if="prChange.status==3">Đã đổi thành công</td>
        <td ng-if="prChange.status==4">Hủy yêu cầu</td>

    </tr>
    </tbody>
</table>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Sản phẩm -
                    {{getOneProduct.orderDetail.product.name}}
                    ram {{getOneProduct.orderDetail.product.ram.name}},
                    dung lượng máy {{getOneProduct.orderDetail.product.capacity.name}}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Hình ảnh</th>
                        <th scope="col">Đổi</th>
                        <th scope="col">Mã máy</th>
                        <th scope="col">Giá (VNĐ)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td ><img ng-repeat="image  in getOneProduct.productChange.images"
                                  src="{{image.name}}" class="img-fluid rounded-3"
                                 style="width: 120px;height: 120px" alt="Book">
<!--                            <img src="{{getOneProduct.productChange.images.length>0?-->
<!--                                 getOneProduct.productChange.images[1].name : ''}}" class="img-fluid rounded-3"-->
<!--                                 style="width: 120px;height: 120px" alt="Book">-->
<!--                            <img src="{{getOneProduct.productChange.images.length>0?-->
<!--                                 getOneProduct.productChange.images[3].name : ''}}" class="img-fluid rounded-3"-->
<!--                                 style="width: 120px;height: 120px" alt="Book"> <br>-->
                        </td>
                        <td class="align-middle">số lượng: {{getOneProduct.productChange.quantity}}</td>
                        <td>
                            <span class="alert-info" ng-repeat="imei in imeis">{{imei.name}} <br></span>
                        </td>
                        <td class="align-middle">
                            <p class="mb-0" style="font-weight: 500;">{{getOneProduct.orderDetail.price * getOneProduct.productChange.quantity}} VND</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>