<h3 class="text-center text-primary text-opacity-50">Danh sách hàng cần trả</h3>

<div class="mt-2 col-2 offset-10">
    <button ng-click="edit(product)" class="btn btn-secondary">Xác nhận</button>
    <button ng-click="edit(product)" class="btn btn-secondary">Hủy bỏ</button>
</div>
<table class="table table-bordered table-hover container mt-2">
    <thead>
    <tr>
        <th>Chọn</th>
        <th>Khách hàng</th>
        <th>Ngày đổi trả</th>
        <th>Tình trạng máy</th>
        <th>Ảnh sản phẩm</th>
        <th>Imay máy</th>
        <th>Sản phẩm</th>
        <th>Trạng thái</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="prChange in listProductChange">
        <td><input type="checkbox" name="" ng-checked="checkSelect(orderDetail.idDetail)"
                   ng-click="checkSelected(orderDetail.idDetail)"></td>
        <td>{{prChange.orderDetail.order.account.username}}</td>
        <td>{{prChange.productChange.dateChange | date:'dd/MM/yyyy h:mm:a'}}</td>
        <td>{{prChange.productChange.note}}</td>
        <td><img class="img-responsive" width="80px" height="80px"
            src="{{prChange.productChange.images.length>0?prChange.productChange.images[0].name:''}}"></td>
        <td>{{prChange.orderDetail.product.listImay[0].name}}</td>
        <td>{{prChange.orderDetail.product.name}}</td>
        <td>{{prChange.status==0?'Hủy yêu cầu':'Chờ xác nhận'}}</td>

    </tr>
    </tbody>
</table>
