<div class="table-responsive">
  <table class="table  table-bordered table-hover container">
    <thead>
    <tr>
      <th>Chọn</th>
      <th>Sản phẩm</th>
      <th>Màu</th>
      <th>Thể loại</th>
      <th>Giá mua (VNĐ)</th>
      <th>Giá gốc (VNĐ)</th>
      <th>Số lượng</th>
      <th>Hình ảnh</th>
      <th>Tổng (VNĐ)</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="orderDetail in orderDetails" ng-if="orderDetail.accessory">
      <td> <input type="checkbox" name="" ng-checked="checkSelect(orderDetail.idDetail)"
                  ng-click="checkSelected(orderDetail.idDetail)"> </td>
      <td>{{orderDetail.accessory.name}}</td>
      <td>{{orderDetail.accessory.color}}</td>
      <td>{{orderDetail.accessory.category.name}}</td>
      <td>{{orderDetail.price|number}}</td>
      <td>{{orderDetail.accessory.price|number}}</td>
      <td>{{orderDetail.quantity}}</td>
      <td><img width="80px" height="80px" src="/images/accessories/{{orderDetail.accessory.image}}" class="pt-2"></td>
      <td>{{orderDetail.quantity*orderDetail.price|number}}</td>

    </tr>
    <tr ng-repeat="orderDetail in orderDetails" ng-if="orderDetail.product">
      <td> <input type="checkbox" name="" ng-checked="checkSelect(orderDetail.idDetail)"
                  ng-click="checkSelected(orderDetail.idDetail)"></td>
      <td>{{orderDetail.product.name}}</td>
      <td>{{orderDetail.product.color.name}}</td>
      <td>{{orderDetail.product.category.name}}</td>
      <td>{{orderDetail.price|number}}</td>
      <td>{{orderDetail.product.price|number}}</td>
      <td>{{orderDetail.quantity}}</td>
      <td><img width="80px" height="80px" src="{{orderDetail.product.images[0].name}}" class="pt-2"></td>
      <td>{{orderDetail.quantity*orderDetail.price|number}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container glyphicon-zoom-in">
  <form role="formProductChange" method="post" class="row" name="myForm"
        enctype="multipart/form-data">
    <div class="col-md-6">
      <div class="form-group mt-1">
        <div  class="upload-btn-wrapper form-group mt-1">
          <button type="button" class="btn btn-outline-primary ms-1">Chọn ảnh</button>
          <input onchange="angular.element(this).scope().uploadFileChange(this.files)"
                  type="file" name="files"
                 accept=".jpg,.jpeg,.png" multiple >
        </div>
        <img style="filter: drop-shadow(0 0 5px rgb(119, 119, 145));" width="105px"
             src="/images/accessories/{{form.image}}">
      </div>
    </div>

    <div class="col-md-8">
      <div class="form-group mt-1">
        <div  class="form-group mt-1">
          <label>Nhập Email</label>
          <input type="email"  ng-model="formProductChange.email"  class="form-control">
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="form-group mt-1">
        <label>Lý do đổi hàng</label>
        <textarea ng-model="formProductChange.note" class="form-control" rows="3" required></textarea>
      </div>
    </div>

  </form>
  <button  ng-click="saveProductChange()"  class="btn btn-secondary">Đổi trả hàng</button>
</div>

