<table class="tables tables-bordered tables-hover container">
  <thead>
  <tr>
    <th>Sản phẩm</th>
    <th>Màu</th>
    <th>Thể loại</th>
    <th>Giá (VNĐ)</th>
    <th>Số lượng</th>
    <th>Hình ảnh</th>
    <th>Tổng (VNĐ)</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="orderDetail in orderDetails" ng-if="orderDetail.accessory">
    <td>{{orderDetail.accessory.name}}</td>
    <td>{{orderDetail.accessory.color}}</td>
    <td>{{orderDetail.accessory.category.name}}</td>
    <td>{{orderDetail.accessory.price|number}}</td>
    <td>{{orderDetail.quantity}}</td>
    <td><img width="80px" height="80px" src="/images/accessories/{{orderDetail.accessory.image}}" class="pt-2"></td>
    <td>{{orderDetail.quantity*orderDetail.price|number}}</td>
  </tr>
  <tr ng-repeat="orderDetail in orderDetails" ng-if="orderDetail.product">
    <td>{{orderDetail.product.name}}</td>
    <td>{{orderDetail.product.color}}</td>
    <td>{{orderDetail.product.category.name}}</td>
    <td>{{orderDetail.product.price|number}}</td>
    <td>{{orderDetail.quantity}}</td>
    <td><img width="80px" height="80px" src="/images/accessories/{{orderDetail.product.image}}" class="pt-2"></td>
    <td>{{orderDetail.quantity*orderDetail.price|number}}</td>
  </tr>
  </tbody>
</table>