<div class="alert alert-warning container" ng-if="orders.length<=0">
    Bạn chưa mua sản phẩm nào
</div>
<div ng-if="orders.length>0">
    <table class="table table-bordered table-hover container">
        <thead>
        <tr>
            <th>Mã hóa đơn</th>
            <th>Địa chỉ</th>
            <th>Ngày mua</th>
            <th>Số điện thoại</th>
            <th>Tổng giá (VNĐ)</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in orders">
            <td>{{order.idOrder}}</td>
            <td>{{order.address}}</td>
            <td>{{order.createDate|date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{order.phoneTake}}</td>
            <td>{{order.total|number}}</td>
            <td ng-if="order.status==0">
                <span class="text-warning">Chưa thanh toán</span>
            </td>
            <td ng-if="order.status==1">
                <span class="text-info">Đã thanh toán</span>
            </td>
            <td ng-if="order.status==2">
                <span class="text-primary">Đang giao hàng</span>
            </td>
            <td ng-if="order.status==3">
                <span class="text-success">Hoàn tất giao dịch</span>
            </td>
            <td ng-if="order.status==4">
                <span class="text-dark">Hoàn lại đơn</span>
            </td>
            <td>
                <a href="#!order-detail" ng-click="getOrder(order.idOrder)" class="btn btn-default">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Chi tiết
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
